.navbar-light-mode {
  background-color: white;
  color: black; 
}


.navbar-dark-mode {
  background-color: black;
  color: white;
}

.navbar-dark-mode .navbar-brand,
.navbar-dark-mode .nav-link,
.navbar-dark-mode button {
  color: white !important; 
}