.grid-content{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:5px;
  margin-top: 30px;
  margin-left: 20px;
 
}
.navbar-light-mode {
  background-color: white;
  color: black; 
}


.navbar-dark-mode {
  background-color: black;
  color: white;
}

.navbar-dark-mode .navbar-brand,
.navbar-dark-mode .nav-link,
.navbar-dark-mode button {
  color: white !important; 
}



.grid-elements{
  width: 300px;
  padding: 10px;
  border: 1px, solid, rgba(0,0,0,0.1);
  list-style: none;
   border-radius: 5px;
}
.grid-elements:hover{
   border-top: 5px solid rgba(137, 194, 244,0.8);
   border-left: 5px solid rgba(137, 194, 244,0.8);
   font-size: 18px;
   font-weight: bold;
   transition: 0.3s;
}
.grid-button{
  margin-left: 30px;
  border-radius: 5px;
  background-color: aliceblue;
}