.quizbox{
 border: 1px, solid, black;
 width: 500px;
 height: 300px;
 align-items: center;
 margin-left: 400px;
 margin-top: 30px;
 padding-left: 20px;
 padding-top: 20px;

}
.correct-answer{
  margin-left: 400px;
  margin-top: 20px;
   border: 1px, solid, black;
   padding-left: 20px;
   width: 500px;
}